# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Virtualenv
.venv/

# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/crash.log

# Misc
.env
.idea/
.vscode/
